# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd
import numpy as np
df1=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df2=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")   
df3=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

df1.columns = (
    df1.columns
    .str.strip()               # eliminar espacios iniciales/finales
    .str.lower()               # convertir a minúsculas
    .str.replace(' ', '_')     # reemplazar espacios por "_"
    .str.replace('-', '_')     # reemplazar guiones por "_"
    .str.replace('st', 'state')# reemplazar "st" por "state"
)

df2.columns = (
    df2.columns
    .str.strip()               # eliminar espacios iniciales/finales
    .str.lower()               # convertir a minúsculas
    .str.replace(' ', '_')     # reemplazar espacios por "_"
    .str.replace('-', '_')     # reemplazar guiones por "_"
    .str.replace('st', 'state')# reemplazar "st" por "state"
)
df3.columns = (
    df3.columns
    .str.strip()               # eliminar espacios iniciales/finales
    .str.lower()               # convertir a minúsculas
    .str.replace(' ', '_')     # reemplazar espacios por "_"
    .str.replace('-', '_')     # reemplazar guiones por "_"
    .str.replace('st', 'state')# reemplazar "st" por "state"
)

df1.columns = df1.columns.str.replace('custateomer', 'customer')
df2.columns = df2.columns.str.replace('custateomer', 'customer')
df3.columns = df3.columns.str.replace('custateomer', 'customer')
df3.columns = df3.columns.str.replace('stateate', 'state')


print(
df1.columns,
df2.columns,    
df3.columns    
)

df=pd.concat([df1,df2,df3],axis=0,ignore_index=True)
print(
df1.shape,
df2.shape,
df3.shape,
df.shape
)
print(
    df.head(),
    df.isna().sum()
)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object') Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object') Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')
(4008, 11) (996, 11) (7070, 11) (12074, 11)
  customer       state gender             education customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323   customer                     2937
state                        2937
gender                       3059
education                    2937
customer_lifetime_value      2944
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [2]:
df["gender"] = (
    df["gender"]
    .str.replace('Male', 'M') 
    .str.replace('Femal', 'F')     
    .str.replace('female', 'F')
)
print(df["gender"].unique())

df["state"] = (
    df["state"]
    .replace('AZ', 'Arizona')
    .replace('Cali', 'California')
    .replace('WA', 'Washington')
)
print(df["state"].unique())

df["education"] = (
    df["education"]
    .replace('Bachelors', 'Bachelor')
)
print(df["education"].unique())

df["customer_lifetime_value"]= df["customer_lifetime_value"].str.replace('%','').astype(float)/100

[nan 'F' 'M']
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]
['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor' nan]

In [3]:
df.number_of_open_complaints.unique()
df["number_of_open_complaints"] = (
    df["number_of_open_complaints"]
    .str.replace('/00', '')
    .str.replace('/1/', '6')
    .str.replace('1/', '')
    .astype(float)
   )         

print(df["number_of_open_complaints"].dtype)
print(df["number_of_open_complaints"].unique())

df['number_of_open_complaints'] = df['number_of_open_complaints'].replace('6', '1')
print(df["number_of_open_complaints"].unique())

float64
[ 0.  2.  1.  3.  5.  4. nan]
[ 0.  2.  1.  3.  5.  4. nan]

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [4]:
df4=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

print(df4.columns)
print(df4.shape)
print(df4.dtypes)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')
(10910, 27)
unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [5]:
df4 ['revenue']=df4['monthly_premium_auto']* df4['months_since_policy_inception']- df4['total_claim_amount']
df4 ['revenue']=df4['revenue'].round(2)
df4 ['revenue'].head()

0    2879.20
1     919.08
2    2620.00
3    -193.01
4    2919.07
Name: revenue, dtype: float64

In [9]:
pivot1 = pd.pivot_table(
    df4,
    values="revenue",
    index="sales_channel",
    aggfunc="sum"
).round(2)
pd.options.display.float_format = '{:,.2f}'.format
pivot1.sort_values("revenue", ascending=False)

                    revenue
sales_channel
Agent         16,723,854.12
Branch        12,410,464.66
Call Center    8,449,464.98
Web            6,768,943.98

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [7]:
pivot2 = pd.pivot_table(
    df4,
    values="customer_lifetime_value",
    index=['education','gender'],
    aggfunc="sum"
).round(2)
pd.options.display.float_format = '{:,.2f}'.format

pivot2.sort_values("education", ascending=False)

                             customer_lifetime_value
education            gender
Master               F                  3,874,600.25
                     M                  3,365,559.06
High School or Below F                 13,793,600.12
                     M                 12,680,914.19
Doctor               F                  1,465,701.78
                     M                  1,490,482.06
College              F                 12,460,107.91
                     M                 12,851,725.02
Bachelor             F                 13,386,258.11
                     M                 12,110,061.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [17]:
# pivot table showing the number of complaints by policy type and month (long format table)

pivot3 = pd.pivot_table(
    df4,
    values="number_of_open_complaints",
    index=['policy_type','month'],
    aggfunc="sum",
    fill_value=0,
).round(2)
pd.options.display.float_format = '{:,.2f}'.format
pivot3.sort_values("policy_type", ascending=False)

                      number_of_open_complaints
policy_type    month
Special Auto   1                          87.07
               2                          95.23
Personal Auto  1                       1,727.61
               2                       1,453.68
Corporate Auto 1                         443.43
               2                         385.21